#root {
  padding: 2rem;
  background-color: #FAF9F6;
}

.league {
  flex: 1;
}

.leagueContainer {
  display: flex;
  flex: 1;
}

.container {
  display:flex;
}

.scheduleContainer {
  width: 30%;
  margin: 10px;
}