#root {
  background-color: #F5F5F5;
}

.container {
  display:flex;
}


.mainContentContainer {
  flex: 1;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}

.scheduleContainer {
  width: 30%;
  margin: 10px;
}