.container {
    border-radius: 10px;
    box-shadow: 0 0 3px lightgrey;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.teamName{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}