.container {
    background-color: #041E42;
    height: 56px;
    color: white;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
}

nav {
    padding-right: 30px;
    text-decoration: none;
    cursor: pointer;
}

.right {
    margin-left: auto;
}