.header {
  background-color: #041e42;
  height: 56px;
  color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  padding-right: 30px;
}

.right {
  margin-left: auto;
}
